:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  /* margin: 2rem auto; */
  display: flex;
  /* place-items: center; */
  /* min-width: 320px; */
  justify-content: center;
  min-height: 100vh;
  background: white;
  padding: 1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #535bf2;
  text-align: center;
  margin-block: 2rem;
}

img{
  height: 200px;
  width: 200px
}

.products{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.main{
  margin: 2rem; 
}

p{
  color: black;
  text-align: center
}

.product{
  padding: 0.4rem;
  border: 0.5px solid grey;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns{
  display:flex;
  justify-content: end;
  gap: 0.6rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.btns button{
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  font-weight: 600;
  background: transparent;
  border: 1px solid gray;
  color: #646cff;
  border-radius: 0.3rem;
}

.btns button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
