*,::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  min-height: 100vh;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  background: #eeeeee
}

.app {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.main-search{
  background: white;
  border-radius: 0.8rem;
  width: 500px;

}

.input-div{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid gray;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
  background: white;
}

@media (max-width: 600px){
  .input-div{
    width: 300px
  }

  .products{
    width: 300px;
  }
}

input{
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.1rem;
}


.products{
  width: 500px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  background: white;
  border-radius: 0.8rem;
  font-size: 1.1rem;

}

.products::-webkit-scrollbar {
  width: 0;
  height: 0;
}

p{
  padding: 0.8rem 1rem;
  cursor: pointer;
}

p:hover{
  background-color: rgb(236, 234, 234)
}