#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input{
  padding: 1rem 1.5rem;
  width: 500px

}

img{
  width: 500px;
  height: 200px;
  object-fit: cover;
}

/* .dishes{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
} */

.dishes{
  width: 500px;
  margin: auto;
  border: 0.5px solid gray;
  text-align: left;
  max-height: 400px;
  overflow-y: scroll;
}

.dishes p{
  cursor: pointer;
    padding: 1rem 1rem;

}

.dishes p:hover{
  background: rgb(235, 234, 234);
  color: black;
  font-weight: 500
}